*{margin:0;padding:0;box-sizing: border-box;}
body{
  position:relative;
  min-height:100vh;
}
.section-1 {
  position:relative;
  height:100vh;
  display:flex;
  justify-content:center;
  flex-direction: column;
  overflow: hidden;
  background-color:#000;
}
.vapour {
  position:absolute;
  left:0;
  bottom:-150px;
  z-index:1;
  display:flex;
  z-index:1;
  padding:0 20px;
}
.fog {
  position:relative;
  display:block;
  background:rgba(255,255,255, 0.4);
  min-width:100px;
  height:80px;
  margin:0 2px 50px;
  animation: animate 5s linear infinite;
  -webkit-animation: animate 5s linear infinite;
  opacity:0;
  border-radius:var(--edge);
  filter:blur(25px);
  -webkit-filter:blur(25px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% {
    transform:translate(0) scale(0);
    -webkit-transform:translate(0) scale(0);
  }
  10% {
    opacity:0.7;
  }
  50% {
    transform:translate(-30px, 0) scale(5, 3);
    -webkit-transform:translate(-30px, 0) scale(5, 3);
  }
  95% {
    opacity:0;
  }
  100% {
    transform:translate(-60px, -100px) scale(10, 4);
    -webkit-transform:translate(-60px, -100px) scale(10, 4);
  }
}