<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sea</title>
        <link rel="stylesheet" href="../css/sea.css" />
        <script src="../js/sea.js" defer></script>
    </head>
    <body>
        <div class="progressWrap">
            <div class="bar"></div>
        </div>
        <img src="../img/submarine.gif" class="submarine" alt="잠수함" />
        <div class="innerWrap">
            <h2 class="title">The Deep Sea</h2>
            <div class="textWrap">
                <p>대게</p>
                <img src="../img/crab.png" alt="대게" />
            </div>
            <div class="textWrap">
                <p>오징어</p>
                <img src="../img/cuttle.png" alt="오징어" />
            </div>
            <div class="textWrap">
                <p>방어</p>
                <img src="../img/fish_01.png" alt="방어" />
            </div>
            <div class="textWrap">
                <p>미역</p>
                <img src="../img/seaweed.png" alt="미역" />
            </div>
        </div>
        <img src="../img/octo.png" class="octopus" alt="문어" />

        <div class="depthWrap"><span>0</span> METERS DEEP</div>
    </body>
</html>
