<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디자이너경준아빠의 웹퍼블리싱</title>
    <link rel="stylesheet" href="../css/line1.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="lines"></div>
            <div class="imgBx">
                <img src="../img/line_01.png">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos, eius alias ipsa vero, nostrum dolores molestias dolore consequuntur, illum odit! Temporibus, doloribus perspiciatis! Dolores, necessitatibus! Voluptatem saepe animi minus?</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="lines"></div>
            <div class="imgBx">
                <img src="../img/line_02.png">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Code</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos, eius alias ipsa vero, nostrum dolores molestias dolore consequuntur, illum odit! Temporibus, doloribus perspiciatis! Dolores, necessitatibus! Voluptatem saepe animi minus?</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="lines"></div>
            <div class="imgBx">
                <img src="../img/line_03.png">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Launch</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos, eius alias ipsa vero, nostrum dolores molestias dolore consequuntur, illum odit! Temporibus, doloribus perspiciatis! Dolores, necessitatibus! Voluptatem saepe animi minus?</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>