<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navi & parallax</title>
    <style>
        *{margin:0;padding:0;}
    </style>
    <script>
        
    </script>
</head>
<body>
    <div class="content">
        <section class="section01">section01</section>
        <section class="section02">section02</section>
        <section class="section03">section03</section>
        <section class="section04">section04</section>
        <section class="section05">section05</section>
    </div>
</body>
</html>